code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.container {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.vertical-center {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  /*whatever width you want*/
}

.text-center {
  text-align: center;
}

#home-page {
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
  }
  .masthead h1 {
    font-size: 3.5rem;
		-webkit-text-stroke: 1px black;
		 color: white;
		 text-shadow:
				 3px 3px 0 #000,
			 -1px -1px 0 #000,  
				1px -1px 0 #000,
				-1px 1px 0 #000,
				 1px 1px 0 #000;
  }
}

@media (min-width: 992px) {
  .champion-slot {
    max-width: none;
    margin: 0;
  }
  .champion-slot .caption {
    -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
    -webkit-clip-path: inset(0px);
    clip-path: inset(0px);
  }
  .champion-slot .caption .caption-content {
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
  }
  .champion-slot img {
    -webkit-transition: -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
    clip-path: inset(-1px);
  }
  .champion-slot:hover img {
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
  .champion-slot:hover .caption {
    background-color: rgba(29, 128, 159, 0.9);
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
}

a {
  color: #000;
}

a:hover, a:focus, a:active {
  color: #000;
}

.btn-primary { 
  border-color: #000 !important;
	border-style: solid;
	border-width: 2px;
  color: #000 !important;
	padding: 15px;
	text-decoration: none;
	border-radius: 15px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
	color: white;
	border-color: #000 !important;
	border-style: solid;
	border-width: 2px;
  background-color: #155d74 !important;
}

.btn-secondary {
  background-color: #ecb807 !important;
  border-color: #ecb807 !important;
  color: #fff !important;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background-color: #ba9106 !important;
  border-color: #ba9106 !important;
}

.btn-dark {
  color: #fff !important;
}
